$background_color: white;
$primary_color: black;
$secondary_color: #DA0945;
$tertiary_color: #7C7C7C;

$primary_font: 'Shadows Into Light', cursive;
$secondary_font: Verdana, Geneva, Tahoma, sans-serif;
