%title {
    text-align: center;
    text-decoration: none;
}

h1 {
    @extend %title;
    font-size:64px;
    color: $background_color;
    font-family: $primary_font;
    margin: 0;
}

h2 {
    @extend %title;
    font-size:30px;
    color: $secondary_color;
    font-family: $secondary_font;
    margin: 30px 0 10px 0;
}

h3 {
    @extend %title;
    font-size:24px;
    color: $tertiary_color;
    font-family: $secondary_font;
    margin: 20px 0 10px 0;
}

p {
    margin: 10px 0 10px 0;
    color: $primary_color;
    font-family: $secondary_font;
}