*{
    margin:0;
    padding:0;
}

/* MENU */
.menu {
    background-color: black;
}

.menu nav {
    background-color: black !important;
}

.menu-content {
    width: 100%;
    padding: 20px;
}

.menu-content a {
    font-size:20px;
    color:#DA0945;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

.menu-content img {
    width: 64px;
    height: 64px;
}

/* BANNER */
/* Banner será flex, para acomodar el h1 abajo y al centro */
.banner {
    width: 100%;
    height: 400px;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
} 

#banner_home {
    background-image: url("../images/banner-home.png");    
}

#banner_about_us {
    background-image: url("../images/regrets.png");
}

#banner_gallery {
    background-image: url("../images/novedades.png");
}

#banner_news {
    background-image: url("../images/novedades.png");
}

#banner_contact_us {
    background-image: url("../images/novedades.png");
}

/* Títulos y parráfos de la página */
h1 {
    font-size:64px;
    color:white;
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    /*font-family: 'Permanent Marker', cursive;*/
}

h2 {
    font-size:30px;
    color:#DA0945;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    margin: 30px 0 10px 0;
    text-align: center;
    /*font-family: 'Permanent Marker', cursive;*/
}

h3 {
    font-size:24px;
    color:#7C7C7C;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    margin: 20px 0 10px 0;
    text-align: center;
}

p {
    margin: 10px 0 10px 0;
    color:black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* El main-content lo hago de 80% para poder centrar los sections cuando haga flex el main */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content {
    width: 80%;
    padding: 20px;
    background-color: white;
}

#section_main {
    display: grid;
    grid-template-columns: calc(100%-187px) 187px;
    grid-template-areas: "a1 a2";
    column-gap: 10px;
    justify-items: center;
    align-items: center;
    
    justify-content: center;
    align-content: center;
}

#section_history {
    display: grid;
    grid-template-columns: 257px calc(100%-257px);
    grid-template-areas: 
        "a1 a2"
        "a1 a3";
    column-gap: 20px;
    row-gap: 20px;
    justify-items: center;
    align-items: center;
    
    justify-content: center;
    align-content: center;
    margin-top: 80px;
}

#section_history h2 {
    margin: 0;
    padding: 0;
}

#history_img_wrapper {
    grid-area: a1;
}

#history_title {
    grid-area: a2;
}

#history_text {
    grid-area: a3;
}

@media only screen and (max-width:1024px) {
    #section_main {
        grid-template-columns: 100%;
        grid-template-areas: 
            "a1"
            "a2";
        column-gap: 10px;
        row-gap: 10px;
        justify-items: center;
        align-items: center;
        
        justify-content: center;
        align-content: center;
    }
    
    #section_history {
        grid-template-columns: 100%;
        grid-template-areas: 
            "a1"
            "a2"
            "a3";
        row-gap: 20px;
        column-gap: 0px;
    }
    
    #history_title {
        grid-area: a1;
    }
    
    #history_img_wrapper {
        grid-area: a2;
    }

    #history_text {
        grid-area: a3;
    }
}

#section_develop_team {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Manejo de imagenes */
.img-wrapper {
    padding: 10px;
    border-color: #DA0945;
    border-width: 1px;
    border-style: solid;
}

#main_img_wrapper {
    width: 187px;
}

#main_img_wrapper img {
    height: 220px;
}

#history_img_wrapper {
    width: 257px;
}

#history_img_wrapper img {
    height: 220px;
}

#develop_team_img_wrapper {
    width: 260px;
}

#develop_team_img_wrapper img {
    height: 270px;
}

/* Footer */
footer {
    background-color: #070404;
    padding: 20px;
}

footer p {
    color: white;
    text-align: center;
}

/* Integrantes del equipo */
.team-panel {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-areas: 
        "a1 a2 a3"
        "a4 a5 a6"
        "a7 a8 a9"
        "a10 a11 a12";
    column-gap: 20px;
    row-gap: 20px;
    justify-items: center;
    align-items: center;
    
    justify-content: center;
    align-content: center;
}

#dev_01 {
    grid-area: a1;
}

#dev_02 {
    grid-area: a2;
}

#dev_03 {
    grid-area: a3;
}

#dev_04 {
    grid-area: a4;
}

#dev_05 {
    grid-area: a5;
}

#dev_06 {
    grid-area: a6;
}

#dev_07 {
    grid-area: a7;
}

#dev_08 {
    grid-area: a8;
}

#dev_09 {
    grid-area: a9;
}

#dev_10 {
    grid-area: a11;
}

@media only screen and (max-width:650px) {
    /* Integrantes del equipo */
    .team-panel {
        grid-template-columns: 90%;
        grid-template-areas: 
            "a1"
            "a2"
            "a3"
            "a4"
            "a5"
            "a6"
            "a7"
            "a8"
            "a9"
            "a10";
        column-gap: 0px;
        row-gap: 20px;
        justify-items: center;
        align-items: center;
        
        justify-content: center;
        align-content: center;
    }

    #dev_10 {
        grid-area: a10;
    }
}

@media only screen and (min-width:650px) {
    .team-panel {
        grid-template-columns: 45% 45%;
        grid-template-areas: 
            "a1 a2"
            "a3 a4"
            "a5 a6"
            "a7 a8"
            "a9 a10";
        column-gap: 20px;
        row-gap: 20px;
        justify-items: center;
        align-items: center;
        
        justify-content: center;
        align-content: center;
    }

    #dev_10 {
        grid-area: a10;
    }
}

@media only screen and (min-width:1024px) {
    .team-panel {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-template-areas: 
            "a1 a2 a3"
            "a4 a5 a6"
            "a7 a8 a9"
            "a10 a11 a12";
        column-gap: 20px;
        row-gap: 20px;
        justify-items: center;
        align-items: center;
        
        justify-content: center;
        align-content: center;
    }

    #dev_10 {
        grid-area: a11;
    }
}

.team-member {
    width: 100%;
    margin: 20px;
}

.team-member img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.team-member p {
    padding: 10px;
}

.news {
    margin: 10px 0 10px 0;
}

.news-title {
    font-size:16px;
    color:#DA0945;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    margin: 20px 0 15px 0;
}

.news-subtitle {
    font-size:14px;
    color:black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    margin: 0 0 10px 0;
    font-style: italic;
}

.news-date {
    font-size:12px;
    color:#7C7C7C;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    margin: 0 0 25px 0;
    font-style: italic;
}

.news-body {
    font-size:12px;
    color:black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    margin: 0 0 20px 0;
}

.news-img {
    width: 200px;
}

.news-img img {
    width: 100%;
}

.images-gallery {
    margin: 20px 0;
}

.images-gallery-panel img {
    width: 30%;
}

.videos-gallery {
    margin: 20px 0;
}

.videos-gallery-panel iframe {
    width: 45%;
    height: 350px;
}